# Preparing Numerical Data

```{note}
Install ekorpkit package first.
Set logging level to Warning, if you don't want to see verbose logging,
```

In [1]:
# %config InlineBackend.figure_format='retina'
from ekorpkit import eKonf

eKonf.setLogger("INFO")
print("version:", eKonf.__version__)
print("is notebook?", eKonf.is_notebook())
print("is colab?", eKonf.is_colab())
print("environment variables:")
eKonf.print(eKonf.env().dict())

INFO:ekorpkit.base:Google Colab not detected.

version: 0.1.38+7.g02e18c8.dirty
is notebook? True
is colab? False
environment variables:
{'CUDA_DEVICE_ORDER': None,
 'CUDA_VISIBLE_DEVICES': None,
 'EKORPKIT_CONFIG_DIR': '/workspace/projects/ekorpkit-book/config',
 'EKORPKIT_DATA_DIR': None,
 'EKORPKIT_LOG_LEVEL': 'INFO',
 'EKORPKIT_PROJECT': 'ekorpkit-book',
 'EKORPKIT_WORKSPACE_ROOT': '/workspace',
 'KMP_DUPLICATE_LIB_OK': 'TRUE',
 'NUM_WORKERS': 230}

In [2]:
data_dir = "../data/bok"

## Load ECOS class

In [3]:
cfg = eKonf.compose("io/fetcher=ecos")
cfg.auto.load = False
ecos = eKonf.instantiate(cfg)
print(ecos)

INFO:ekorpkit.base:Loaded .env from /workspace/projects/ekorpkit-book/config/.env
INFO:ekorpkit.base:setting environment variable CACHED_PATH_CACHE_ROOT to /workspace/.cache/cached_path
INFO:ekorpkit.base:setting environment variable KMP_DUPLICATE_LIB_OK to TRUE

<ekorpkit.io.fetch.ecos.ECOS object at 0x7fece0053700>

In [4]:
stat_code = "601Y002"

In [5]:
data, num_rows = ecos.get_ecos(
    service="StatisticTableList",
    stat_code=stat_code,
    cycle="M",
    start_date="200912",
    end_date="202204",
)
print("Number of rows:", num_rows)
data

Number of rows: 1

  P_STAT_CODE STAT_CODE                 STAT_NAME CYCLE SRCH_YN ORG_NAME
0  0000000425   601Y002  7.5.2. 지역별 소비유형별 개인 신용카드     M       Y     한국은행

In [6]:
data, num_rows = ecos.get_ecos(
    service="StatisticItemList",
    stat_code=stat_code,
    cycle="M",
    start_date="200912",
    end_date="202204",
)
print("Number of rows:", num_rows)
data

Number of rows: 61

,STAT_CODE,STAT_NAME,GRP_CODE,GRP_NAME,ITEM_CODE,ITEM_NAME,P_ITEM_CODE,P_ITEM_NAME,CYCLE,START_TIME,END_TIME,DATA_CNT,WEIGHT
0,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,A,서울,None,None,M,200912,202204,12218,None
1,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,B,부산,None,None,M,200912,202204,12218,None
2,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,C,대구,None,None,M,200912,202204,12218,None
3,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,D,인천,None,None,M,200912,202204,12218,None
4,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,E,광주,None,None,M,200912,202204,12218,None
5,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,F,대전,None,None,M,200912,202204,12218,None
6,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,G,울산,None,None,M,200912,202204,12218,None
7,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,L,경기,None,None,M,200912,202204,12218,None
8,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,M,강원,None,None,M,200912,202204,12218,None
9,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,N,충북,None,None,M,200912,202204,12218,None

In [9]:
data, num_rows = ecos.get_ecos(
    service="StatisticWord",
    stat_code="소비자동향지수",
    cycle="M",
)
print("Number of rows:", num_rows)
data

Number of rows: 1

      WORD                                            CONTENT
0  소비자동향지수  소비자들이 느끼는 경기, 소비지출계획, 생활형편 등 경제에 대한 전반적인 인식을 조...

In [10]:
data, num_rows = ecos.get_ecos(
    service="StatisticSearch",
    stat_code=stat_code,
    cycle="M",
    start_date="200912",
    end_date="202204",
)
print("Number of rows:", num_rows)
data

Number of rows: 219924

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,TIME,DATA_VALUE
0,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1000,합계,TOT,총액,None,None,백만원,200912,10214465
1,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1100,종합소매,TOT,총액,None,None,백만원,200912,1372873
2,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1110,백화점,TOT,총액,None,None,백만원,200912,514427
3,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1120,대형마트/유통전문점,TOT,총액,None,None,백만원,200912,526904
4,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1130,슈퍼마켓,TOT,총액,None,None,백만원,200912,228223
5,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1140,편의점,TOT,총액,None,None,백만원,200912,29331
6,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1150,면세점,TOT,총액,None,None,백만원,200912,73987
7,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1200,전자상거래/통신판매,TOT,총액,None,None,백만원,200912,1922612
8,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1300,식료품,TOT,총액,None,None,백만원,200912,91639
9,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,A,서울,1310,일반식료품,TOT,총액,None,None,백만원,200912,70935

In [11]:
data, num_rows = ecos.get_ecos(
    service="KeyStatisticList",
    stat_code="",
    cycle="",
    start_date="",
    end_date="",
)
print("Number of rows:", num_rows)
data

Number of rows: 100

  CLASS_NAME         KEYSTAT_NAME    DATA_VALUE     CYCLE UNIT_NAME
0         환율          원/달러 환율(종가)        1306.4  20220808        원
1         환율  원/엔(100엔) 환율(매매기준율)        961.91  20220808        원
2         환율       원/유로 환율(매매기준율)       1322.04  20220808        원
3         환율          원/위안 환율(종가)        193.01  20220808        원
4         주식               주식거래대금  178183604486    202206       천원
5         주식                고객예탁금      54259039    202207      백만원
6         채권               채권거래대금      75487525    202207      백만원
7         투자            국내수요기계수주액       3578027    202206      백만원
8         투자                건설수주액      21999253    202206      백만원
9         가계             가구당월평균소득   6708232.666    2022Q1        원

In [12]:
data, num_rows = ecos.get_ecos(
    service="StatisticMeta",
    stat_code="경제심리지수",
    cycle="",
    start_date="",
    end_date="",
)
print("Number of rows:", num_rows)
data

Number of rows: 157

   LVL P_CONT_CODE   CONT_CODE    CONT_NAME META_DATA
0    2  0000000001  0000000098         무응답률      None
1    2  0000000001  0000000099          MSE      None
2    1        None  0000000100  예산 인력 교육 홍보      None
3    2  0000000001  0000000101        관련 예산      None
4    2  0000000001  0000000102           인력      None
5    2  0000000001  0000000103           교육      None
6    2  0000000001  0000000104           홍보      None
7    2  0000000108         N13        참고 자료      None
8    3         N13  0000000105        참고 자료      None
9    3         N13  0000000106        해외 사례      None