# Preparing Numerical Data

```{note}
Install ekorpkit package first.
Set logging level to Warning, if you don't want to see verbose logging,
```

In [1]:
# %config InlineBackend.figure_format='retina'
from ekorpkit import eKonf

eKonf.setLogger("INFO")
print("version:", eKonf.__version__)
print("is notebook?", eKonf.is_notebook())
print("is colab?", eKonf.is_colab())
print("environment variables:")
eKonf.print(eKonf.env().dict())

INFO:ekorpkit.base:Google Colab not detected.

version: 0.1.38+8.g318b9fe
is notebook? True
is colab? False
environment variables:
{'CUDA_DEVICE_ORDER': None,
 'CUDA_VISIBLE_DEVICES': None,
 'EKORPKIT_CONFIG_DIR': '/workspace/projects/ekorpkit-book/config',
 'EKORPKIT_DATA_DIR': None,
 'EKORPKIT_LOG_LEVEL': 'INFO',
 'EKORPKIT_PROJECT': 'ekorpkit-book',
 'EKORPKIT_WORKSPACE_ROOT': '/workspace',
 'KMP_DUPLICATE_LIB_OK': 'TRUE',
 'NUM_WORKERS': 230}

In [2]:
data_dir = "../data/bok"

## Load ECOS class

In [3]:
cfg = eKonf.compose("io/fetcher=ecos")
cfg.auto.load = False
ecos = eKonf.instantiate(cfg)
print(ecos)

INFO:ekorpkit.base:Loaded .env from /workspace/projects/ekorpkit-book/config/.env
INFO:ekorpkit.base:setting environment variable CACHED_PATH_CACHE_ROOT to /workspace/.cache/cached_path
INFO:ekorpkit.base:setting environment variable KMP_DUPLICATE_LIB_OK to TRUE

<ekorpkit.io.fetch.ecos.ECOS object at 0x7f00cc9215b0>


### Load economic data

In [4]:
data = ecos.load(
    series_id="200Y001/10101",
    start_date="2009",
    end_date="2022",
    cycle="A",
)
data

INFO:ekorpkit.io.fetch.ecos:/workspace/.tmp/fetcher/ecos/200Y001_10101.parquet already exists.
INFO:ekorpkit.io.file:Processing [1] files from ['/workspace/.tmp/fetcher/ecos/200Y001_10101.parquet']
INFO:ekorpkit.io.file:Loading 1 dataframes from ['/workspace/.tmp/fetcher/ecos/200Y001_10101.parquet']
INFO:ekorpkit.io.file:Loading data from /workspace/.tmp/fetcher/ecos/200Y001_10101.parquet

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,TIME,DATA_VALUE
0,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2009,1205347.7
1,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2010,1322611.2
2,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2011,1388937.2
3,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2012,1440111.4
4,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2013,1500819.1
5,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2014,1562928.9
6,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2015,1658020.4
7,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2016,1740779.6
8,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2017,1835698.2
9,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2018,1898192.6
10,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2019,1924498.1
11,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2020,1940726.2
12,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2021,2071658

### Get other data

In [5]:
data, num_rows = ecos.get_ecos(
    service="StatisticTableList",
    stat_code="601Y002",
    cycle="M",
    start_date="200912",
    end_date="202204",
)
print("Number of rows:", num_rows)
data

Number of rows: 1

  P_STAT_CODE STAT_CODE                 STAT_NAME CYCLE SRCH_YN ORG_NAME
0  0000000425   601Y002  7.5.2. 지역별 소비유형별 개인 신용카드     M       Y     한국은행

In [6]:
data, num_rows = ecos.get_ecos(
    service="StatisticItemList",
    stat_code="200Y001",
    cycle="M",
    start_date="200912",
    end_date="202204",
)
print("Number of rows:", num_rows)
data

Number of rows: 96

,STAT_CODE,STAT_NAME,GRP_CODE,GRP_NAME,ITEM_CODE,ITEM_NAME,P_ITEM_CODE,P_ITEM_NAME,CYCLE,START_TIME,END_TIME,DATA_CNT,WEIGHT
0,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,10101,"국내총생산(명목, 원화표시)",101,경제규모 및 국민소득(명목),A,1953,2021,69,None
1,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,1010101,"국내총생산(명목, 달러표시)",101,경제규모 및 국민소득(명목),A,1953,2021,69,None
2,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,10102,"국민총소득(명목, 원화표시)",101,경제규모 및 국민소득(명목),A,1953,2021,69,None
3,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,1010201,"국민총소득(명목, 달러표시)",101,경제규모 및 국민소득(명목),A,1953,2021,69,None
4,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,10103,요소비용국민소득(명목),101,경제규모 및 국민소득(명목),A,1953,2021,69,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,90102,총수입,901,수출입의 대 GNI 비율(명목),A,1953,2021,69,None
92,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,9010201,(재화),901,수출입의 대 GNI 비율(명목),A,1953,2021,69,None
93,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,9010202,(서비스),901,수출입의 대 GNI 비율(명목),A,1953,2021,69,None
94,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,90103,GDP 디플레이터,None,None,A,1953,2021,69,None
95,200Y001,2.1.1.1. 주요지표(연간지표),Group1,계정항목,9010301,(등락률),90103,GDP 디플레이터,A,1954,2021,68,None

In [7]:
data, num_rows = ecos.get_ecos(
    service="StatisticWord",
    stat_code="소비자동향지수",
    cycle="M",
)
print("Number of rows:", num_rows)
data

Number of rows: 1

      WORD                                            CONTENT
0  소비자동향지수  소비자들이 느끼는 경기, 소비지출계획, 생활형편 등 경제에 대한 전반적인 인식을 조...

In [8]:
data, num_rows = ecos.get_ecos(
    service="StatisticSearch",
    stat_code="200Y001",
    cycle="A",
    start_date="2009",
    end_date="2022",
    # item_code1="10101"
)
print("Number of rows:", num_rows)
data

Number of rows: 1241

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,TIME,DATA_VALUE
0,200Y001,2.1.1.1. 주요지표(연간지표),3010101,민간,None,None,None,None,None,None,%,2009,0.2
1,200Y001,2.1.1.1. 주요지표(연간지표),7010107,기업,None,None,None,None,None,None,%,2009,21.1
2,200Y001,2.1.1.1. 주요지표(연간지표),7010108,정부,None,None,None,None,None,None,%,2009,22.2
3,200Y001,2.1.1.1. 주요지표(연간지표),70105,총조정처분가능소득의분배,None,None,None,None,None,None,None,2009,None
4,200Y001,2.1.1.1. 주요지표(연간지표),7010501,제도부문별,None,None,None,None,None,None,None,2009,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,200Y001,2.1.1.1. 주요지표(연간지표),701040104,생산및수입세(공제)보조금,None,None,None,None,None,None,%,2021,10.1
1237,200Y001,2.1.1.1. 주요지표(연간지표),701040201,가계,None,None,None,None,None,None,%,2021,61.2
1238,200Y001,2.1.1.1. 주요지표(연간지표),701040202,기업,None,None,None,None,None,None,%,2021,25.1
1239,200Y001,2.1.1.1. 주요지표(연간지표),701040203,정부,None,None,None,None,None,None,%,2021,13.7
1240,200Y001,2.1.1.1. 주요지표(연간지표),7010101,피용자보수,None,None,None,None,None,None,%,2021,47.4

In [9]:
data, num_rows = ecos.get_ecos(
    service="KeyStatisticList",
    stat_code="",
    cycle="",
    start_date="",
    end_date="",
)
print("Number of rows:", num_rows)
data

Number of rows: 100

   CLASS_NAME     KEYSTAT_NAME  DATA_VALUE     CYCLE   UNIT_NAME
0        시장금리        한국은행 기준금리        2.25  20220810          %
1        시장금리         콜금리(익일물)       2.215  20220811          %
2        시장금리     KORIBOR(3개월)        2.66  20220812          %
3        시장금리       CD수익률(91일)        2.76  20220811          %
4        시장금리    통안증권수익률(364일)       2.901  20220811          %
..        ...              ...         ...       ...         ...
95     부동산 가격         주택매매가격지수   104.83721    202206  2021.6=100
96     부동산 가격         주택전세가격지수  103.209187    202206  2021.6=100
97     부동산 가격      지가변동률(전기대비)       0.336    202205          %
98        원자재  국제유가(Dubai, 현물)       105.8    202207         달러
99        원자재                금     1765.94    202207         달러

[100 rows x 5 columns]

In [10]:
data, num_rows = ecos.get_ecos(
    service="StatisticMeta",
    stat_code="경제심리지수",
    cycle="",
    start_date="",
    end_date="",
)
print("Number of rows:", num_rows)
data

Number of rows: 157

     LVL P_CONT_CODE   CONT_CODE    CONT_NAME            META_DATA
0      2  0000000001  0000000098         무응답률                 None
1      2  0000000001  0000000099          MSE                 None
2      1        None  0000000100  예산 인력 교육 홍보                 None
3      2  0000000001  0000000101        관련 예산                 None
4      2  0000000001  0000000102           인력                 None
..   ...         ...         ...          ...                  ...
152    2  0000000001         N08         공표형식                 None
153    3         N08        N083  마이크로데이터공표형식                 None
154    3         N08        N081  비정기보도자료공표형식  매월 공표시 한국은행 홈페이지 게시
155    3         N08        N084  기타중요데이터공표형식                 None
156    2  0000000108         N12         통계처리                 None

[157 rows x 5 columns]