# Preparing Numerical Data

```{note}
Install ekorpkit package first.
Set logging level to Warning, if you don't want to see verbose logging,
```

In [1]:
# %config InlineBackend.figure_format='retina'
from ekorpkit import eKonf

eKonf.setLogger("INFO")
print("version:", eKonf.__version__)
print("is notebook?", eKonf.is_notebook())
print("is colab?", eKonf.is_colab())
print("environment variables:")
eKonf.print(eKonf.env().dict())

INFO:ekorpkit.base:Google Colab not detected.

version: 0.1.38+7.g02e18c8.dirty
is notebook? True
is colab? False
environment variables:
{'CUDA_DEVICE_ORDER': None,
 'CUDA_VISIBLE_DEVICES': None,
 'EKORPKIT_CONFIG_DIR': '/workspace/projects/ekorpkit-book/config',
 'EKORPKIT_DATA_DIR': None,
 'EKORPKIT_LOG_LEVEL': 'INFO',
 'EKORPKIT_PROJECT': 'ekorpkit-book',
 'EKORPKIT_WORKSPACE_ROOT': '/workspace',
 'KMP_DUPLICATE_LIB_OK': 'TRUE',
 'NUM_WORKERS': 230}

In [2]:
data_dir = "../data/bok"

## Load ECOS class

In [3]:
cfg = eKonf.compose("io/fetcher=ecos")
cfg.auto.load = False
ecos = eKonf.instantiate(cfg)
print(ecos)

INFO:ekorpkit.base:Loaded .env from /workspace/projects/ekorpkit-book/config/.env
INFO:ekorpkit.base:setting environment variable CACHED_PATH_CACHE_ROOT to /workspace/.cache/cached_path
INFO:ekorpkit.base:setting environment variable KMP_DUPLICATE_LIB_OK to TRUE

<ekorpkit.io.fetch.ecos.ECOS object at 0x7fb67d38d220>

In [4]:
stat_code = "601Y002"

In [5]:
data, num_rows = ecos.get_ecos(
    service="StatisticTableList",
    stat_code=stat_code,
    cycle="M",
    start_date="200912",
    end_date="202204",
)
print("Number of rows:", num_rows)
data

Number of rows: 1

  P_STAT_CODE STAT_CODE                 STAT_NAME CYCLE SRCH_YN ORG_NAME
0  0000000425   601Y002  7.5.2. 지역별 소비유형별 개인 신용카드     M       Y     한국은행

In [6]:
data, num_rows = ecos.get_ecos(
    service="StatisticItemList",
    stat_code=stat_code,
    cycle="M",
    start_date="200912",
    end_date="202204",
)
print("Number of rows:", num_rows)
data

Number of rows: 61

,STAT_CODE,STAT_NAME,GRP_CODE,GRP_NAME,ITEM_CODE,ITEM_NAME,P_ITEM_CODE,P_ITEM_NAME,CYCLE,START_TIME,END_TIME,DATA_CNT,WEIGHT
0,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,A,서울,None,None,M,200912,202204,12218,None
1,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,B,부산,None,None,M,200912,202204,12218,None
2,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,C,대구,None,None,M,200912,202204,12218,None
3,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,D,인천,None,None,M,200912,202204,12218,None
4,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group1,지역코드,E,광주,None,None,M,200912,202204,12218,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group2,소비유형코드,2300,공과금/개인 및 전문 서비스,None,None,M,200912,202204,5414,None
57,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group2,소비유형코드,2400,금융/보험,None,None,M,200912,202204,5414,None
58,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group2,소비유형코드,2500,기타,None,None,M,200912,202204,5414,None
59,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group3,금액구분코드,TOT,총액,None,None,M,200912,202204,109962,None
60,601Y002,7.5.2. 지역별 소비유형별 개인 신용카드,Group3,금액구분코드,DAV,월간 일평균,None,None,M,200912,202204,112012,None

In [7]:
data, num_rows = ecos.get_ecos(
    service="StatisticWord",
    stat_code="소비자동향지수",
    cycle="M",
)
print("Number of rows:", num_rows)
data

Number of rows: 1

      WORD                                            CONTENT
0  소비자동향지수  소비자들이 느끼는 경기, 소비지출계획, 생활형편 등 경제에 대한 전반적인 인식을 조...

In [9]:
data, num_rows = ecos.get_ecos(
    service="StatisticSearch",
    stat_code="200Y001",
    cycle="A",
    start_date="2009",
    end_date="2022",
    item_code1="10101"
)
print("Number of rows:", num_rows)
data

Number of rows: 13

,STAT_CODE,STAT_NAME,ITEM_CODE1,ITEM_NAME1,ITEM_CODE2,ITEM_NAME2,ITEM_CODE3,ITEM_NAME3,ITEM_CODE4,ITEM_NAME4,UNIT_NAME,TIME,DATA_VALUE
0,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2009,1205347.7
1,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2010,1322611.2
2,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2011,1388937.2
3,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2012,1440111.4
4,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2013,1500819.1
5,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2014,1562928.9
6,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2015,1658020.4
7,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2016,1740779.6
8,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2017,1835698.2
9,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2018,1898192.6
10,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2019,1924498.1
11,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2020,1940726.2
12,200Y001,2.1.1.1. 주요지표(연간지표),10101,"국내총생산(명목, 원화표시)",None,None,None,None,None,None,십억원,2021,2071658

In [11]:
data, num_rows = ecos.get_ecos(
    service="KeyStatisticList",
    stat_code="",
    cycle="",
    start_date="",
    end_date="",
)
print("Number of rows:", num_rows)
data

Number of rows: 100

  CLASS_NAME         KEYSTAT_NAME    DATA_VALUE     CYCLE UNIT_NAME
0         환율          원/달러 환율(종가)        1306.4  20220808        원
1         환율  원/엔(100엔) 환율(매매기준율)        961.91  20220808        원
2         환율       원/유로 환율(매매기준율)       1322.04  20220808        원
3         환율          원/위안 환율(종가)        193.01  20220808        원
4         주식               주식거래대금  178183604486    202206       천원
5         주식                고객예탁금      54259039    202207      백만원
6         채권               채권거래대금      75487525    202207      백만원
7         투자            국내수요기계수주액       3578027    202206      백만원
8         투자                건설수주액      21999253    202206      백만원
9         가계             가구당월평균소득   6708232.666    2022Q1        원

In [12]:
data, num_rows = ecos.get_ecos(
    service="StatisticMeta",
    stat_code="경제심리지수",
    cycle="",
    start_date="",
    end_date="",
)
print("Number of rows:", num_rows)
data

Number of rows: 157

   LVL P_CONT_CODE   CONT_CODE    CONT_NAME META_DATA
0    2  0000000001  0000000098         무응답률      None
1    2  0000000001  0000000099          MSE      None
2    1        None  0000000100  예산 인력 교육 홍보      None
3    2  0000000001  0000000101        관련 예산      None
4    2  0000000001  0000000102           인력      None
5    2  0000000001  0000000103           교육      None
6    2  0000000001  0000000104           홍보      None
7    2  0000000108         N13        참고 자료      None
8    3         N13  0000000105        참고 자료      None
9    3         N13  0000000106        해외 사례      None